{% extends "subject/layout.html" %}

{% block content %}

        <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Subjects</h5>
                </div>
                <div class="card card-body">
                    <table class="table">

                        {% for i in subject %}
                            <tr>
                                <td><a href="{% url 'subject:subject' i.id %}">{{i.code}} {{i.name}}</a></td>


                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>

        </div>
        <p><a href="{% url 'users:index' %}">Information</a></p>
        <p><a href="{% url 'users:logout' %}">Logout</a></p>


{% endblock content %}